Part a. Your algorithm: 
Aggregate by days and get mean, median, max, and min values for 'values'.

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'days': [1, 1, 2, 2, 1, 3, 4], 'values': [10, 10, 5, 3, -2, 4, 20]})

In [12]:
df2 = (df.groupby(['days'])['values'].agg([('mean' , 'mean'), ('median', 'median'),('max','max'),('min','min')]).add_suffix('_values')).reset_index()

In [13]:
df2

   days  mean_values  median_values  max_values  min_values
0     1            6             10          10          -2
1     2            4              4           5           3
2     3            4              4           4           4
3     4           20             20          20          20

Part b. Your algorithm:
 Select the top 2 employees with the max difference between the lowest amount and the highest amount for each employee.

In [14]:
df = pd.DataFrame({'employee': [1001, 1002, 1004, 1001, 1001, 1002, 1004, 1005, 1005],
                       'pos': [2, 2, 2, 2, 2, 2, 2, 2, 2],
                       'amount': [125, 542, 2345, 892, 100, 1234, 657, 34, 35]})

In [15]:
df2 = df.groupby(['employee','pos'])['amount'].agg([np.ptp]).nlargest(2,'ptp').reset_index()

In [16]:
df2

   employee  pos   ptp
0      1004    2  1688
1      1001    2   792